[submodule "simple_CAR"]
	path = simple_CAR
	url = https://github.com/youyusama/simple_CAR.git
[submodule "src/checkers/miniCAR"]
	path = src/checkers/miniCAR
	url = https://github.com/Yibo-Dong/miniCAR.git
    tag = hwmcc
